.section-13 {
    width: 100%;
  }
  .section-13 h3 {
    font-size: 38px;
    font-family: "Nunito", sans-serif;
    color: #071e55;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 10px;
  }
  .section-13 .title-section-13 {
    font-size: 18px;
    color: #7c8595;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 25px;
  }
  .section-13 .menu-questions-section-13 {
    display: grid;
    grid-template-columns: auto auto;
  }
  .section-13 .menu-questions-section-13 p {
    font-size: 17px;
    color: #7c8595;
    margin-bottom: 20px;
    line-height: 28px;
  }
  .section-13 .menu-questions-section-13 h5 {
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    color: #071e55;
    margin-bottom: 7px;
    line-height: 1.2;
    font-weight: 700;
  }
  .section-13 .menu-questions-section-13 .question-2 {
    padding-left: 40px;
  }
  .section-13 .menu-questions-section-13 .question-4 {
    padding-left: 40px;
  }
  .section-13 .menu-questions-section-13 .question-1 {
    padding-left: 10px;
  }
  .section-13 .menu-questions-section-13 .question-3 {
    padding-left: 10px;
  }