.section-9-team {
    background-color: #f1faff;
  }
  .section-9-team h2 {
    font-size: 38px;
    font-family: "Nunito", sans-serif;
    color: #071e55;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-9-team p {
    text-align: center;
    font-size: 18px;
    color: #7c8595;
    margin-bottom: 20px;
  }
  .section-9-team .menu-member {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 40px;
  }
  .section-9-team .menu-member .member-first {
    border-top: none;
  }
  .section-9-team .menu-member .member-first .text-member-1 {
    max-width: calc(100% - 30px);
    height: auto;
    border-top: none;
    background: white;
    text-align: center;
    padding: 10px 25px 30px;
    line-height: 28px;
    border: 1px solid #e5efff;
    border-radius: 0 0 8px 8px;
  }
  .section-9-team .menu-member .member-second .text-member-2 {
    max-width: calc(100% - 30px);
    height: auto;
    background: white;
    border-top: none;
    text-align: center;
    padding: 10px 25px 30px;
    line-height: 28px;
    border: 1px solid #e5efff;
    border-radius: 0 0 8px 8px;
  }
  .section-9-team .menu-member .member-third .text-member-3 {
    max-width: calc(100% - 30px);
    height: auto;
    background: white;
    text-align: center;
    padding: 10px 25px 30px;
    line-height: 28px;
    border-bottom: 1px solid #e5efff;
    border-radius: 0 0 8px 8px;
  }
  .section-9-team .img-member img {
    max-width: calc(100% - 30px);
    height: auto;
    border-radius: 8px 8px 0 0;
    background-color: white;
    overflow: hidden;
    vertical-align: middle;
    border-style: none;
  }
  .section-9-team .name-member {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: #454545;
    margin-top: 20px;
  }
  .section-9-team .positon-work {
    font-size: 17px;
    color: #acacac;
    margin-bottom: 20px;
    font-style: italic;
    font-family: "  Open Sans", sans-serif;
  }
  .section-9-team .introduce-member {
    font-size: 17px;
    color: #7c8595;
    font-weight: 400;
  }
  