html,
body {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.navbar-container {
  width: 100vw;
  padding: 30px 0 30px 0;
}

.navbar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
.navbar .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar .right .menu {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar .right .menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.navbar .right .menu a:hover {
  color: rgb(229, 47, 55);
}
.navbar .left {
  color: rgb(229, 47, 55);
  font-size: 26px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.navbar .btn-get-start {
  background-color: rgb(229, 47, 55);
  border-radius: 23px 23px;
  border: 1px solid rgb(229, 47, 55);
  padding: 14px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.navbar .btn-get-start:hover {
  background-color: white;
  color: rgb(229, 47, 55);
}
.navbar .bar-responsive {
  padding: 7px 17px;
  border: 1px solid rgb(229, 47, 55);
  color: rgb(229, 47, 55);
  border-radius: 8px;
  font-size: 20px;
  display: none;
}

@media (max-width: 990px) {
  .navbar .bar-responsive {
    display: flex;
  }
  .navbar .right .menu a {
    display: none;
  }
  .navbar .btn-get-start {
    display: none;
  }
}
.section-1-container {
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./img/text-video-login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-1 {
  display: flex;
  margin: auto;
  gap: 60px;
  padding: 0 100px 0 100px;
}
.section-1 .introduce-text {
  padding: 150px 15px 0 0;
}
.section-1 .small-text {
  font-size: 20px;
  color: white;
  margin-bottom: 35px;
  line-height: 30px;
  text-shadow: 1px 1px #373737;
  font-weight: 400;
}
.section-1 .left.introduce-text .large-text {
  font-size: 45px;
  color: white;
  margin-bottom: 20px;
  text-shadow: 1px 1px #373737;
  font-weight: 600;
}
.section-1 .left.introduce-text .video-text {
  color: white;
  text-decoration: underline;
}
.section-1 .pop-up-gallery-video {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section-1 .pop-up-gallery-video .play-btn {
  width: 60px;
  height: 60px;
  border: 1.5px solid white;
  background-color: white;
  border-radius: 50%;
  position: relative;
}
.section-1 .pop-up-gallery-video .play-btn:hover {
  background-color: transparent;
}
@keyframes changescale {
  0% {
    width: 60px;
    height: 60px;
    border: 1.5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    width: 80px;
    height: 80px;
    border: 1.5px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
.section-1 .pop-up-gallery-video .pop-up-overlay {
  animation: changescale 2s infinite ease;
}
.section-1 .pop-up-gallery-video .play-btn .icon-btn-play {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(229, 47, 55);
}
.section-1 .pop-up-gallery-video > .play-btn > .icon-btn-play:hover {
  color: white;
}
.section-1 .right.trial-register-form {
  width: 900px;
  height: 450px;
  padding: 32px;
  background-color: white;
  margin-top: 80px;
  margin-left: 80px;
  margin-bottom: 100px;
  border-radius: 5px;
  transition: all 0.6s ease;
  animation: apearform 1.2s 1 ease;
}
.section-1 .right.trial-register-form div:nth-child(1) {
  font-size: 22px;
  font-weight: 500;
}
.section-1 .right.trial-register-form div:nth-child(2) {
  padding-top: 5px;
  font-size: 17px;
  font-weight: 400;
  font-family: "Open sans", sans-serif;
  line-height: 28px;
  color: #7c8595;
}
.section-1 .right.trial-register-form .input-container-company-name {
  width: 100%;
  position: relative;
  margin-top: 22px;
}
.section-1 .right.trial-register-form .input-container-company-name input {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  border: 1px solid #f1f1f1 !important;
  font-size: 15px;
}
.section-1 .right.trial-register-form .input-container-company-name .input-icon-company {
  position: absolute;
  left: 12px;
  top: 8%;
  transform: translateY(-50%);
  font-size: 20px;
}
.section-1 .right.trial-register-form .input-container-email-adress {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.section-1 .right.trial-register-form .input-container-email-adress input {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  border: 1px solid #f1f1f1 !important;
  font-size: 15px;
}
.section-1 .right.trial-register-form .input-container-email-adress .input-icon-email {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.section-1 .right.trial-register-form .input-container-choose-launchpage {
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.section-1 .right.trial-register-form .input-container-choose-launchpage select {
  width: 100%;
  padding: 15px;
  padding-left: 36px;
  border: 1px solid #f1f1f1 !important;
  color: #7c8595;
  font-size: 15px;
}
.section-1 .right.trial-register-form .input-container-choose-launchpage .input-icon-select {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #7c8595;
  font-size: 16px;
}
@keyframes changecolor {
  0% {
    background-color: rgb(229, 47, 55);
  }
  100% {
    background-color: #27b36a;
  }
}
@keyframes apearform {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.section-1 .right.trial-register-form input.btn-start-my-free-trial {
  margin-top: 15px;
  width: 100%;
  padding: 15px;
  background-color: rgb(229, 47, 55);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px 3px;
  text-align: center;
  border: none;
  font-weight: 700;
  letter-spacing: 1px;
}
.section-1 .right.trial-register-form input.btn-start-my-free-trial:hover {
  background-color: #27b36a;
  animation: changecolor 0.5s 1 ease;
}
.section-1 .right.trial-register-form .text-regester-last-form {
  font-size: 14px;
  margin: 10px 0 5px 0;
  color: #7c8595;
}

.logo-partners {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0px;
}
.logo-partners .partners {
  max-height: 55px;
  color: #7c8595;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.logo-partners .partners:hover {
  opacity: 0.9;
  cursor: pointer;
}
.logo-partners .text-partner {
  font-size: 18px;
  font-weight: 500;
}

.section-3 {
  width: 100%;
  background-color: #f1faff;
  padding: 0 100px 0 100px;
  margin: auto;
}
.section-3 .section-3-title {
  text-align: center;
  padding-top: 80px;
}
.section-3 .section-3-title h3 {
  font-size: 38px;
}
.section-3 .section-3-title p {
  font-size: 18px;
  margin-top: 20px;
  color: #7c8595;
}
.section-3 .main-service {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 50px;
}
.section-3 .main-service .blue-service {
  text-align: center;
  max-width: 300px;
  transition: all 0.8s ease;
}
.section-3 .main-service .blue-service .fa-chart-bar {
  padding: 16px;
  background-color: #1e90ff;
  color: white;
  border-radius: 20px;
  font-size: 40px;
  margin-bottom: 15px;
}
.section-3 .main-service .blue-service:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.section-3 .main-service .pink-service {
  text-align: center;
  max-width: 300px;
  transition: all 0.8s ease;
}
.section-3 .main-service .pink-service .fa-heart {
  padding: 16px;
  margin-bottom: 15px;
  background-color: rgb(229, 47, 55);
  color: white;
  border-radius: 20px;
  font-size: 40px;
}
.section-3 .main-service .pink-service:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.section-3 .main-service .green-service {
  text-align: center;
  max-width: 300px;
  transition: all 0.8s ease;
}
.section-3 .main-service .green-service .fa-anchor {
  margin-bottom: 15px;
  padding: 16px;
  background-color: #27b36a;
  color: white;
  border-radius: 20px;
  font-size: 40px;
}
.section-3 .main-service .green-service:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.section-3 .main-service .large-text-service {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 500;
}
.section-3 .main-service .small-text-service {
  font-size: 17px;
  color: #7c8595;
}

.section-4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-color: white;
}
.section-4 .section-4-img-left img {
  border-radius: 8px 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}
.section-4 .section-4-text-right {
  padding-left: 40px;
  padding-top: 30px;
}
.section-4 .title-section-4 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #071e55;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.section-4 .small-text-section-4 {
  font-size: 17px;
  margin-bottom: 20px;
  color: #7c8595;
}
.section-4 .menu-tick-text .tick-text {
  font-size: 17px;
  color: #858585;
  margin-bottom: 15px;
  padding-left: 15px;
}
.section-4 .menu-tick-text .fa-check {
  color: rgb(229, 47, 55);
  font-size: 20px;
}
.section-4 .menu-tick-text .tick-text-1 {
  display: flex;
}
.section-4 .menu-tick-text .tick-text-2 {
  display: flex;
}
.section-4 .menu-tick-text .tick-text-3 {
  display: flex;
}
.section-4 .btn-section-4 {
  padding: 14px 20px;
  border-radius: 30px 30px;
  background-color: rgb(229, 47, 55);
  border: 1px solid rgb(229, 47, 55);
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.7s ease;
  cursor: pointer;
}
.section-4 .btn-section-4:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.8);
}

.section-5-profile {
  width: 100%;
  background-color: #f1faff;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.section-5-profile .menu-profile-left {
  padding-right: 60px;
}
.section-5-profile .blue-profile {
  display: flex;
  margin-bottom: 14px;
  background-color: white;
  position: relative;
  transition: all 0.7s ease;
  cursor: pointer;
}
.section-5-profile .blue-profile span {
  position: absolute;
  text-align: center;
  color: #1e90ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #7c8595;
  font-size: 40px;
  transform: translateY(20px);
  margin-left: 20px;
}
.section-5-profile .blue-profile .icon-blue-profile {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-5-profile .pink-profile {
  display: flex;
  margin-bottom: 14px;
  position: relative;
  transition: all 0.7s ease;
  cursor: pointer;
}
.section-5-profile .pink-profile span {
  position: absolute;
  text-align: center;
  color: rgb(229, 47, 55);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #7c8595;
  font-size: 40px;
  transform: translateY(20px);
  margin-left: 20px;
}
.section-5-profile .pink-profile .fa-network-wired {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-5-profile .pink-profile:hover {
  background-color: white;
}
.section-5-profile .green-profile {
  display: flex;
  margin-bottom: 14px;
  position: relative;
  transition: all 0.7s ease;
  cursor: pointer;
}
.section-5-profile .green-profile span {
  position: absolute;
  text-align: center;
  color: #27b36a;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #7c8595;
  font-size: 40px;
  transform: translateY(20px);
  margin-left: 20px;
}
.section-5-profile .green-profile .fa-rocket {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.section-5-profile .green-profile:hover {
  background-color: white;
}
.section-5-profile .title-profile-left {
  margin-left: 120px;
}
.section-5-profile .title-profile-left h3 {
  font-size: 21px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  padding-top: 12px;
}
.section-5-profile .title-profile-left p {
  font-size: 17px;
  color: #7c8595;
  padding-top: 12px;
  line-height: 25px;
  padding-bottom: 20px;
}
.section-5-profile .img-profile-right img {
  background-size: cover;
  margin-left: 10px;
  border-radius: 8px 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

.section-6-funfact {
  width: 100%;
  padding: 100px;
  background: linear-gradient(rgba(229, 47, 55, 0.9), rgba(229, 47, 55, 0.9)), url(./img/section-6-over-delay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-6-funfact .main-funfact-section-6 {
  width: 100%;
}
.section-6-funfact .main-funfact-section-6 .title-funfact {
  text-align: center;
  font-size: 38px;
  color: white;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
}
.section-6-funfact .main-funfact-section-6 .row-funfact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-6-funfact .main-funfact-section-6 .row-funfact .funfact {
  text-align: center;
  margin: 0 20px;
}
.section-6-funfact .main-funfact-section-6 .row-funfact .funfact .number-funfact-box {
  font-size: 28px;
  color: white;
  margin-top: 12px;
  font-weight: 700;
}
.section-6-funfact .main-funfact-section-6 .row-funfact .funfact .text-funfact-box {
  color: white;
  font-size: 16px;
  margin-top: 12px;
}
.section-6-funfact .main-funfact-section-6 .row-funfact .funfact i {
  font-size: 60px;
  color: white;
  margin-top: 20px;
  margin-right: 15px;
}

.section-7-comments {
  background-color: #f1faff;
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
.section-7-comments .left-box-comments h3 {
  font-size: 38px;
  color: #071e55;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.2;
  max-width: 450px;
}
.section-7-comments .left-box-comments .text-comments-left {
  font-size: 17px;
  color: #7c8595;
  margin-bottom: 20px;
  max-width: 400px;
}
.section-7-comments .left-box-comments .assess-comments {
  display: flex;
  flex-wrap: wrap;
}
.section-7-comments .left-box-comments .assess-comments .text-title-assess {
  margin-bottom: 15px;
}
.section-7-comments .left-box-comments .assess-comments .comments-trustpilot {
  font-size: 17px;
  color: #071e55;
  font-weight: 600;
  padding-right: 20px;
  border-right: 1px solid #7c8595;
}
.section-7-comments .left-box-comments .assess-comments .comments-trustpilot i {
  color: #fdcc28;
}
.section-7-comments .left-box-comments .assess-comments .commments-freefo {
  font-size: 17px;
  color: #071e55;
  font-weight: 600;
  padding-left: 20px;
}
.section-7-comments .left-box-comments .assess-comments .commments-freefo i {
  color: #fdcc28;
}
.section-7-comments .right-box-commments .people {
  margin-bottom: 12px;
  padding: 40px;
  border-left: 5px solid #27b36a;
  background-color: white;
}
.section-7-comments .right-box-commments .text-green-comments-right {
  color: #27b36a;
  font-weight: 600;
}
.section-7-comments .right-box-commments .famous-say-1 {
  position: relative;
}
.section-7-comments .right-box-commments .famous-say-1 .text-say-1 {
  margin-left: 80px;
}
.section-7-comments .right-box-commments .famous-say-1 img {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  float: left;
  margin-right: 15px;
  max-width: 65px;
  border-radius: 50%;
}
.section-7-comments .right-box-commments .famous-say-2 {
  position: relative;
}
.section-7-comments .right-box-commments .famous-say-2 .text-say-2 {
  margin-left: 80px;
}
.section-7-comments .right-box-commments .famous-say-2 img {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  float: left;
  margin-right: 15px;
  max-width: 65px;
  border-radius: 50%;
}
.section-7-comments .right-box-commments .famous-say-3 {
  position: relative;
}
.section-7-comments .right-box-commments .famous-say-3 .text-say-3 {
  margin-left: 80px;
}
.section-7-comments .right-box-commments .famous-say-3 img {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  float: left;
  margin-right: 15px;
  max-width: 65px;
  border-radius: 50%;
}

.section-8 {
  background-color: white;
  padding: 100px;
  width: 100%;
  height: auto;
}
.section-8 h3 {
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 10px;
  text-align: center;
}
.section-8 p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 40px;
  color: #7c8595;
}
.section-8 .portfolio {
  display: flex;
}
.section-8 .portfolio .portfolio-colomn-1 {
  display: flex;
  flex-direction: column;
}
.section-8 .portfolio .portfolio-colomn-1 img {
  max-width: 100%;
  height: auto;
  padding: 0 0 5px 0;
}
.section-8 .portfolio .portfolio-colomn-2 img {
  width: 100%;
  padding: 0 10px 0 10px;
  max-height: 924px;
}
.section-8 .portfolio .portfolio-colomn-3 {
  display: flex;
  flex-direction: column;
}
.section-8 .portfolio .portfolio-colomn-3 img {
  max-width: 100%;
  height: auto;
  padding: 0 0 5px 0;
}

.section-9-team {
  padding: 100px;
  background-color: #f1faff;
}
.section-9-team h2 {
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  text-align: center;
  margin-bottom: 10px;
}
.section-9-team p {
  text-align: center;
  font-size: 18px;
  color: #7c8595;
  margin-bottom: 20px;
}
.section-9-team .menu-member {
  display: flex;
  justify-content: space-around;
}
.section-9-team .menu-member .member-first {
  border-top: none;
}
.section-9-team .menu-member .member-first .text-member-1 {
  width: 350px;
  height: 250px;
  border-top: none;
  background: white;
  text-align: center;
  padding: 10px 25px 30px;
  line-height: 28px;
  border: 1px solid #e5efff;
  border-radius: 0 0 8px 8px;
}
.section-9-team .menu-member .member-second .text-member-2 {
  width: 350px;
  height: 250px;
  background: white;
  border-top: none;
  text-align: center;
  padding: 10px 25px 30px;
  line-height: 28px;
  border: 1px solid #e5efff;
  border-radius: 0 0 8px 8px;
}
.section-9-team .menu-member .member-third .text-member-3 {
  width: 350px;
  height: 250px;
  border-top: none;
  background: white;
  text-align: center;
  padding: 10px 25px 30px;
  line-height: 28px;
  border-bottom: 1px solid #e5efff;
  border-radius: 0 0 8px 8px;
}
.section-9-team .img-member {
  width: 350px;
  height: 350px;
  border-radius: 8px 8px 0 0;
  background-color: white;
}
.section-9-team .name-member {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #454545;
  margin-top: 20px;
}
.section-9-team .positon-work {
  font-size: 17px;
  color: #acacac;
  margin-bottom: 20px;
  font-style: italic;
  font-family: "  Open Sans", sans-serif;
}
.section-9-team .introduce-member {
  font-size: 17px;
  color: #7c8595;
  font-weight: 400;
}

.section-10 {
  width: 100%;
  padding: 100px;
  background: linear-gradient(rgba(229, 47, 55, 0.9), rgba(229, 47, 55, 0.9)), url(./img/section-6-over-delay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section-10 h3 {
  color: white;
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.section-10 p {
  color: white;
  font-size: 17px;
  font-family: "Open sans", sans-serif;
  text-align: center;
  margin: 0 240px 30px 240px;
}
.section-10 .button-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section-10 .button-discover {
  cursor: pointer;
  color: rgb(229, 47, 55);
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  padding: 14px 20px;
  background: white;
  border-radius: 23px 23px;
  transition: all 0.4s ease;
  margin: 10px;
  font-weight: 700;
}
.section-10 .button-discover:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  color: rgb(229, 47, 55);
  background: white;
}
.section-10 .button-touch {
  cursor: pointer;
  padding: 14px 20px;
  color: white;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  background: rgb(229, 47, 55);
  border-radius: 23px 23px;
  transition: all 0.4s ease;
  margin: 10px;
  font-weight: 700;
  border: 1px solid white;
}
.section-10 .button-touch:hover {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
  color: rgb(229, 47, 55);
  background: white;
}

.section-11 {
  width: 100%;
  background-color: white;
  padding: 100px;
}
.section-11 h3 {
  font-size: 38px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 10px;
}
.section-11 .title-peatures {
  text-align: center;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  color: #7c8595;
}
.section-11 .menu-features {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
}
.section-11 .feature {
  max-width: 70%;
  padding-top: 50px;
  position: relative;
}
.section-11 .feature h4 {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 10px;
}
.section-11 .feature p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #7c8595;
  margin-bottom: 20px;
  line-height: 28px;
}
.section-11 .feature .fa-screwdriver-wrench {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #a9d129;
  transform: translateX(-150%);
}
.section-11 .feature .fa-users {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #50a0d2;
  transform: translateX(-150%);
}
.section-11 .feature .fa-bell {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #fe9c24;
  transform: translateX(-150%);
}
.section-11 .feature .fa-gift {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #3473b8;
  transform: translateX(-150%);
}
.section-11 .feature .fa-piggy-bank {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #fc6a3f;
  transform: translateX(-150%);
}
.section-11 .feature .fa-comments {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 55px;
  height: 55px;
  text-align: center;
  color: #87ac34;
  transform: translateX(-150%);
}

.section-12 {
  background: #f1faff;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.section-12 .column-price-1 {
  padding: 200px 0 200px;
  max-width: 33%;
}
.section-12 .column-price-1 h3 {
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 20px;
}
.section-12 .column-price-1 p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
  color: #7c8595;
}
.section-12 .column-price-2 {
  padding: 20px 70px 0 70px;
  background-color: white;
  text-align: center;
  border-radius: 8px 8px;
  margin: 50px 0 50px 0;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
  cursor: pointer;
}
.section-12 .column-price-2:hover {
  transform: scale(1.05);
}
.section-12 .column-price-2 h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #292929;
  text-transform: uppercase;
}
.section-12 .column-price-2 h1 {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  color: #292929;
  margin: 20px 0 10px;
}
.section-12 .column-price-2 p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
  margin-bottom: 10px;
}
.section-12 .column-price-2 .button-price-2 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 50px 0;
  border: 1px solid white;
  color: rgb(229, 47, 55);
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.6s ease;
}
.section-12 .column-price-2 .button-price-2:hover {
  color: white;
}
.section-12 .column-price-3 {
  padding: 20px 70px 0 70px;
  background-color: rgb(229, 47, 55);
  text-align: center;
  border-radius: 8px 8px;
  box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
  transition: all 0.6s ease;
  cursor: pointer;
}
.section-12 .column-price-3:hover {
  transform: scale(1.05);
}
.section-12 .column-price-3 h4 {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
}
.section-12 .column-price-3 h1 {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 20px 0 10px;
}
.section-12 .column-price-3 p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-bottom: 10px;
}
.section-12 .column-price-3 .button-price-3 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 50px 0;
  padding: 15px 30px;
  border: 1px solid white;
  color: rgb(229, 47, 55);
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 23px 23px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.section-12 .column-price-3 .button-price-3:hover {
  background-color: rgb(229, 47, 55);
  color: white;
}

.section-13 {
  width: 100%;
  padding: 100px;
}
.section-13 h3 {
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 10px;
}
.section-13 .title-section-13 {
  font-size: 18px;
  color: #7c8595;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
  padding-left: 25px;
}
.section-13 .menu-questions-section-13 {
  display: grid;
  grid-template-columns: auto auto;
}
.section-13 .menu-questions-section-13 p {
  font-size: 17px;
  color: #7c8595;
  margin-bottom: 20px;
  line-height: 28px;
}
.section-13 .menu-questions-section-13 h5 {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #071e55;
  margin-bottom: 7px;
  line-height: 1.2;
  font-weight: 700;
}
.section-13 .menu-questions-section-13 .question-2 {
  padding-left: 40px;
}
.section-13 .menu-questions-section-13 .question-4 {
  padding-left: 40px;
}
.section-13 .menu-questions-section-13 .question-1 {
  padding-left: 10px;
}
.section-13 .menu-questions-section-13 .question-3 {
  padding-left: 10px;
}

.section-14 {
  width: 100%;
  background: linear-gradient(rgba(229, 47, 55, 0.9), rgba(229, 47, 55, 0.9)), url(./img/section-6-over-delay.jpg);
  padding: 100px;
}
.section-14 h2 {
  font-size: 38px;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  color: white;
  font-weight: 700;
  text-align: center;
}
.section-14 p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.section-14 .form-section-14 {
  text-align: center;
  padding-top: 50px;
  transition: all 0.6s ease;
  animation: apearform 1.5s 1 ease;
}
.section-14 .form-section-14 ::placeholder {
  color: white;
}
.section-14 .form-section-14 input:focus {
  outline: none;
  color: white;
}
.section-14 .form-section-14 select:focus {
  color: black;
}
.section-14 .form-yourname input {
  padding: 15px 100px 15px 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  border: 2px solid #fff;
  background-color: rgb(229, 47, 55);
  font-size: 16px;
  border-radius: 5px 5px;
}
.section-14 .form-email input {
  padding: 15px 100px 15px 15px;
  margin-bottom: 15px;
  border: 2px solid #fff;
  background-color: rgb(229, 47, 55);
  font-size: 16px;
  border-radius: 5px 5px;
}
.section-14 .form-phone input {
  padding: 15px 100px 15px 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  border: 2px solid #fff;
  background-color: rgb(229, 47, 55);
  font-size: 16px;
  border-radius: 5px 5px;
}
.section-14 .form-choose select {
  padding: 15px 165px 15px 15px;
  margin-bottom: 15px;
  border: 2px solid #fff;
  background-color: rgb(229, 47, 55);
  font-size: 16px;
  border-radius: 5px 5px;
  color: white;
  outline: none;
}
.section-14 .form-choose select option {
  background-color: white;
}
.section-14 .form-message input {
  padding: 15px 443px 120px 15px;
  margin-bottom: 15px;
  border: 2px solid #fff;
  background-color: rgb(229, 47, 55);
  font-size: 16px;
  border-radius: 5px 5px;
}
.section-14 .btn-submit-section-14 input {
  padding: 20px 80px;
  color: rgb(229, 47, 55);
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 3px 3px;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.section-14 .btn-submit-section-14 input:hover {
  background-color: #eaeaea;
}

.section-15 {
  padding: 30px 100px;
}
.section-15 .menu-section-15 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-15 .menu-section-15 .left-section-15 p {
  font-size: 17px;
}
.section-15 .menu-section-15 .left-section-15 span {
  color: #454545;
  font-weight: 600;
}
.section-15 .menu-section-15 .left-section-15 a {
  color: rgb(229, 47, 55);
  font-weight: 500;
}
.section-15 .right-section-15 .right-list-section-15 {
  display: flex;
  gap: 12px;
  list-style: none;
  align-items: center;
}
.section-15 .right-section-15 .right-text {
  font-size: 17px;
  color: #7c8595;
}
.section-15 .right-section-15 iconify-icon {
  font-size: 28px;
}
.section-15 .right-section-15 iconify-icon:hover {
  color: rgb(229, 47, 55);
}

/*# sourceMappingURL=style.css.map */
